/* General Classes & IDs */
* {
  font-family: 'Piazzolla', serif;
}
h2 {
}

a {
  color: #424b54;
}

a:hover {
  color: #000000;
}

.textCenter {
  text-align: center;
}

.row {
  padding-top: 15px;
  padding-bottom: 15px;
}

.servicesDetail {
  width: 80%;
  margin: 0% 10%;
}

.btnStyle {
  color: #000;
  background-color: #fff;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 4px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-color: transparent;
}

.btnStyle:hover {
  background-color: #ff934f;
  border-color: transparent;
}

.aboutSmlImg {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  background-color: rgba(108, 103, 80, 0.48);
  border-radius: 5px;
  padding: 3px;
}


/* END General Classes & IDs */

.navAlign {
  margin-left: 25%;
  margin-right: 25%;
}

/* Unique CLASSES & IDs */

.servicesFaq {
  margin-top: 40px;
}

.menuImg {
  height: 45px;
  width: auto;
}

.servicesHeader {
  margin-top: 15px;
  padding-top: 15px;
  background-color: rgba(207, 79, 79, 0.35);
  border-radius: 15px;
  color: #ffffff;
  margin-bottom: 20px;
}

/* END Unique CLASSES & IDs */

.aboutMeImg {
  width: auto;
  max-height: 270px;
  margin-left: 20%;
  margin-right: 20px;
}

.aboutMeImgLrg {
  width: auto;
  max-height: 330px;
  padding-top: 33px;
  margin-left: 20%;
  margin-right: 20px;
}

.aboutMeText {
  letter-spacing: .2rem;
  text-align: center;
  vertical-align: middle;
  padding-top: 10px;
}

.portfolioSVG {
  height: auto;
  width: 100%;
}

.portfolioCarousel {
  border-radius: 15px;
}

.mainSVG {
  height: auto;
  width: 46%;
  margin-left: 27%;
  margin-right: 27%;
  margin-top: -25px;
}

.servicesMainSVG {
  height: auto;
  width: 80%;
  margin-top: -55px;
}

.mountainSVG {
  height: 200px;
  width: 110%;
  margin-top: 20px;
  border-bottom: black 2px solid;
  margin-left: -20px;
  margin-right: -20px;
}

#featureSml {
  text-align: center;
  margin-top: auto;
}

#featureLrg {
  text-align: center;
}

#featureSml li {
  text-align: left;
  padding: 3px;
}

.boldText {
  font-weight: bold;
  letter-spacing: 1.3px;
}

#servicesHighlight {
  background-color: white;
  border-radius: 5px;
  border-style: solid;
  border-width: thin;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 10px;
  width: 80%;
  margin-left: 14%;
}

.social_SVG {
  height: auto;
  width: 15%;
  padding: 10px;
  margin-top: 15px;

}

.em_pad {
  padding-top: 25px;
  padding-bottom: 25px;
}

.navbar-expand-lg {
  /* flex-flow: column; */
  font-size: 1.2em;
}

.navStyle {
  border-radius: 7px;
}

.serviceBG {
  background-color: #cf4f4f;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%238eb5cd' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  border-bottom: 5px solid;
  border-top: 5px solid;
  margin-left: 0%;
  margin-right: 0%;
}

#footer {
  text-align: center;
  background-image: url(../img/afWebDev.svg);
  padding-top: 0px;
  padding-bottom: 0px;
  background-repeat: no-repeat;
  background-position: center;

}

/* MAIN CONTENT */
.svgIcon {
  width: 65%;
  height: auto;
  margin: 15%;
  max-height: 300px;
}

/* WORK ON PRICING TABLE */
section.pricing {
border-top: 5px solid;
background-color: #4f9d69;
background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 0C6.716 0 0 6.716 0 15c8.284 0 15-6.716 15-15zM0 15c0 8.284 6.716 15 15 15 0-8.284-6.716-15-15-15zm30 0c0-8.284-6.716-15-15-15 0 8.284 6.716 15 15 15zm0 0c0 8.284-6.716 15-15 15 0-8.284 6.716-15 15-15z' fill='%23f3f9d2' fill-opacity='0.05' fill-rule='evenodd'/%3E%3C/svg%3E");
border-radius: 5px;
}

.pricing .card {
border: none;
border-radius: 1rem;
transition: all 0.2s;
box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
margin: 1.5rem 0;
}

.pricing .card-title {
margin: 0.5rem 0;
font-size: 0.9rem;
letter-spacing: .1rem;
font-weight: bold;
}

.pricing .card-price {
font-size: 3rem;
margin: 0;
}

.pricing .card-price .period {
font-size: 0.8rem;
}

.pricing ul li {
margin-bottom: 1rem;
}

.pricing .text-muted {
opacity: 0.7;
}

.pricing .btn {
font-size: 80%;
border-radius: 5rem;
letter-spacing: .1rem;
font-weight: bold;
padding: 1rem;
opacity: 0.7;
transition: all 0.2s;
}

.priceBtn {
  background-color: #efa00b;
  border: none;
}

.priceBtn:hover {
  background-color: #f0c919;
}

/* custom addition to pricing */
.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #315c2b;
}

/* Hover Effects on Card */
@media (min-width: 992px) {
  .pricing .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .pricing .card:hover .btn {
    opacity: 1;
  }
}
/* END WORK ON PRICING TABLE */


/*
MIN SIZE
 */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #footer h3 {
    visibility: hidden;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/*
MAX SIZE
 */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  #footer {
    background-image: none;
  }
  .mountainSVG {
    height: 125px;
  }
  .mainSVG {
    width: 76%;
    margin-left: 12%;
    margin-right: 12%;
  }
  .servicesMainSVG {
    width: 60%;
    margin-left: 20%;
    margin-top: -20px;
  }
  /* .navAlign {
    margin-left: 45%;
    margin-right: 45%;
  } */
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  /* .navAlign {
    margin-left: 30%;
    margin-right: 30%;
  } */
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

}
