* {
  font-family: 'Piazzolla', serif;
}


h2 {
}

.textCenter {
  text-align: center;
}
.textRight {
  text-align: -webkit-right;
}

.btnStyle {
  color: #000;
  background-color: white;
  margin-left: 2px;
  margin-right: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-color: transparent;
}

.btnStyle:hover {
  background-color: #1E534B;
  border-color: transparent;
}

.row {
  padding-top: 15px;
  padding-bottom: 15px;
}

.mainSVG {
  height: auto;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: -25px;
}
.waveflipSVG {
  height: auto;
  width: 110%;
  margin: -15px;
  transform: rotateY(180deg);
  transform: rotateX(180deg);
  margin-bottom: -30px;
}

.waveSVG {
  height: auto;
  width: 110%;
  margin: -15px;
  margin-bottom: -100px;
}

#featureSml {
  text-align: center;
  margin-top: auto;

}

#featureLrg {
  text-align: center;
}

#featureSml li {
  text-align: left;
  padding: 3px;
}

.boldText {
  font-weight: bold;
  letter-spacing: 1.3px;
}

#calloutBtnGrp {
  text-align: center;
}

#servicesHighlight {
  background-color: white;
  border-radius: 5px;
  border-style: solid;
  border-width: thin;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 10px;
}

#white-glove {
  background-color: lightblue;
  border-radius: 5px;
  border-style: solid;
  border-width: thin;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 10px;
}

.navStyle {
  border-radius: 7px;
}

.nav-link-style {
  padding-left: .5rem;
  padding-right: .5rem;
  flex-direction: row;
  padding: .5rem 1rem;
  /* COPIED FROM DEFAULT BOOTSTRAP */
  color: black;
}

.serviceBG {
  background-color: #cf4f4f;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%238eb5cd' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  border-bottom: 5px solid;
}

.card__details {
    padding: 2rem; }
    .card__details ul {
      list-style: none;
      width: 85%;
      margin: 0;}
      .card__details ul li {
        text-align: center;
        font-size: 1rem;
        padding: 0.1rem;
        letter-spacing: 0.1rem;
         }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 400px;
  /* height: 100%; */
  border: 0px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 400px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
/* Position the front and back side */
.flip-card-front{
  position: absolute;
  width: 100%;
  height: 400px;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.flip-card-back {
  position: absolute;
  width: inherit;
  height: inherit;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}
/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

#portfilio {

}

.profile-img img {
  max-height: auto;
  width: 50%;
  margin-left: 25%;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#footer {
  text-align: center;
  /* background-image: url(../img/bk3.svg); */
  background-image: url(../img/afWebDev.svg);
  padding-top: 0px;
  padding-bottom: 0px;
  background-repeat: no-repeat;
  background-position: center;

}

/* MAIN CONTENT */
#aboutMe {
  background-color: lightblue;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0px 5px 8px 0 rgba(0, 0, 0, 0.2);
}


.svgIcon {
  width: 65%;
  height: auto;
  margin: 15%;
  max-height: 300px;
}

/* ELEMENTS IN CONTACT FORM */
.tabs {
  display: block;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  overflow: hidden; }
  .tabs [class^="tab"] label,
  .tabs [class*=" tab"] label {
    color: #efedef;
    cursor: pointer;
    display: block;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1em;
    padding: 2rem 0;
    text-align: center; }
  .tabs [class^="tab"] [type="radio"],
  .tabs [class*=" tab"] [type="radio"] {
    border-bottom: 1px solid rgba(239, 237, 239, 0.5);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .tabs [class^="tab"] [type="radio"]:hover, .tabs [class^="tab"] [type="radio"]:focus,
    .tabs [class*=" tab"] [type="radio"]:hover,
    .tabs [class*=" tab"] [type="radio"]:focus {
      border-bottom: 1px solid #fd264f; }
    .tabs [class^="tab"] [type="radio"]:checked,
    .tabs [class*=" tab"] [type="radio"]:checked {
      border-bottom: 2px solid #fd264f; }
    .tabs [class^="tab"] [type="radio"]:checked + div,
    .tabs [class*=" tab"] [type="radio"]:checked + div {
      opacity: 1; }
    .tabs [class^="tab"] [type="radio"] + div,
    .tabs [class*=" tab"] [type="radio"] + div {
      display: block;
      opacity: 0;
      padding: 2rem 0;
      width: 90%;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
  .tabs .tab-2 {
    width: 50%; }
    .tabs .tab-2 [type="radio"] + div {
      width: 200%;
      margin-left: 200%; }
    .tabs .tab-2 [type="radio"]:checked + div {
      margin-left: 0; }
    .tabs .tab-2:last-child [type="radio"] + div {
      margin-left: 100%; }
    .tabs .tab-2:last-child [type="radio"]:checked + div {
      margin-left: -100%; }



/* RESIZE BLOCKS */
@media screen and (max-width: 767px) {
  #footer {
    background-image: none;
  }
  .mountainSVG {
    margin-bottom: -105px;
  }
}
@media screen and (min-width: 767px) {
  #footer h3 {
    visibility: hidden;
  }
}
