* {
  font-family: 'Piazzolla', serif;
}


h2 {
  text-align: center;
}
#headCen {
  text-align: center;
  padding: 15px;
}

.row {
  padding-top: 15px;
  padding-bottom: 15px;
}

#featureOne, #featureTwo {
  /* min-height: 200px;
  margin: 2px;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 2px;
  border-style: solid;
  border-color: black;
  padding: 2px;
  background-color: blue; */
}


#featureSml {
  /* background-color: red; */
  text-align: center;
  margin-top: auto;

}

#featureLrg {
  /* background-color: blue; */
  text-align: center;
  /* margin-top: 2%; */

}

#featureSml li {
  text-align: left;
  padding: 3px;
}


#header a {
  /* color: white; */
}

.boldText {
  font-weight: bold;
  letter-spacing: 1.3px;
}

#calloutBtnGrp {
  text-align: center;
}

#servicesHighlight {
  background-color: white;
  border-radius: 5px;
  border-style: solid;
  border-width: thin;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 10px;
}

/* .website-img {
  background-image: linear-gradient(to bottom right, red, yellow);
  min-height: 50px;
  max-height: 65px;
}
.website-img:before {
    position:absolute; left:-1px; top:-1px; content:'';
    border-top: 35px solid silver;
    border-right: 35px solid transparent;
}

.website-img:after {
    position:absolute; left:-2px; top:-2px; content:'';
    border-top: 35px solid white;
    border-right: 35px solid transparent;
}


.further-img {
  background-image: linear-gradient(to bottom, red, yellow);
  min-height: 50px;
  max-height: 65px;
}
.custom-img {
  background-image: linear-gradient(to bottom left, red, yellow);
  min-height: 50px;
  max-height: 65px;
} */

.card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0; }
      .card__details ul li {
        text-align: center;
        font-size: 1rem;
        padding: .5rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 400px;
  /* height: 100%; */
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  display:
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
/* Position the front and back side */
.flip-card-front{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.flip-card-back {
  position: absolute;
  width: inherit;
  height: inherit;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}
/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}




.svgIcon {
  width: 65%;
  height: auto;
  margin: 15%;
  max-height: 300px;
}
