

#header h1 {
    font-size: 2em;
    padding: 1em 0 1.5em 0;
}

#banner img {
    align-items: center;
    /* margin: 2em 0em 2em 0em; */
    max-width: 18em;
    /* padding: 2em 0em 5em 0em; */
    height: 100%;
}

.wrapper.style1, .wrapper.style2 {
    background: #fff;
}

#header {
    background-color: #fff;
}

.smallText {
    font-size: large;
    padding: 0em;
}

.darkText {
    color:darkslategrey;
    font-weight: bold;
}

.codeSVG {
    height: 4em;
}

.etgOriginal {    
    height: 4em;
    border-radius: 15px;    
}


.etgReact {
    height: 4em;
}

figure {
    display: inline-block;
    padding: 0 .5em 0 .5em;
}

.wrapper.style3 {
    background-color: none;    
    background: url("../../images/circuitBackground.svg");
}

.careerSecondP {
    position: relative;
    border-top: none;
    padding: 1em 0 0 0;
    margin: 0;
    top: -1em;
    font-size: 1.5em;
    letter-spacing: -0.025em;
}


.demoInfo {
    background-color: khaki;    
    border-radius: 5px;
    padding: 1em;
    margin-top: 1em;
    font-size: .9em;
}

.addSkills {
    text-align: center;
    margin: 1.5em 0 1em 0;
}

.addSkills span {
    font-weight: 700;
}


/* .title::before {
    content: "Adrian Fregoso | Software Developer";
} */